<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
    <title>SVI</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</head>
<body>
<header th:replace="~{fragment/header :: header}"></header>
<main>

    <p><span>Username : </span><span th:text="${user.username}"></span></p>

    <p><span>Email : </span><span th:text="${user.email}"></span></p>

<!--    <p th:text="${user.password}"></p>-->

<!--    <ul th:each="authority : ${user.authorities}">-->
<!--        <li th:text="${authority}"></li>-->
<!--    </ul>-->

    <a th:href="@{/account/create-form}"
       class="btn btn-success">Создать счет</a>

    <a th:href="@{/account/current-user}"
       class="btn btn-success">Список счетов</a>

    <a th:href="@{/replenishment/current-user}"
       class="btn btn-success">Список операций пополнений</a>

    <a th:href="@{/withdrawal/current-user}"
       class="btn btn-success">Список операций списываний</a>

    <a th:href="@{/transfer/current-user}"
       class="btn btn-success">Список операций переводов</a>

</main>
<footer></footer>
</body>
</html>